@{
    ViewData["Title"] = "Claims";
    
}

<h2>Claims</h2>
<p>List of claims</p>

<table class="table">
    <thead>
        <tr>
            <th>Claim Number</th>
            <th>Lecturer</th>
            <th>Amount</th>
            <th>Status</th>
            <th>Date Submitted</th>
        </tr>
    </thead>
    <tbody>
        <tr><td>001</td><td>ken leed</td><td>R2500</td><td>Pending</td><td>2025-09-17</td></tr>
        <tr><td>002</td><td>bob hepo</td><td>R4800</td><td>Approved</td><td>2025-09-10</td></tr>
        <tr><td>003</td><td>Mike Johnson</td><td>R1500</td><td>Rejected</td><td>2025-09-05</td></tr>
    </tbody>
</table>
